extends base

block content 
    // page-header
    .job-pageheader
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .job-caption
                        h1.job-title= job.title
                        p
                            span.job-location-icon
                                i.fa.fa-map-marker 
                                |
                                |
                                span= job.location.city
                                |,
                                |
                                span= job.location.Country
    // page-header
    // job-single-section
    .content
        .container
            .row
                .col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-12.col-xs-12
                    // img-section
                    .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            .job-company-head.clearfix
                                a.client-img(href='#')
                                    img(src='/images/client_logo_3.png' alt='')
                                a.apply.btn.btn-outline.pull-right.mt10(href=`/jobs/${job._id}/apply`) Apply Now
                            hr
                    // ./img-section
                    // about-job
                    .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            h3 About this job
                            .row
                                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                                    .job-data
                                        ul
                                            li Job type: 
                                                strong= job["Work Type"]
                                            li Experience level: 
                                                strong= job["Experience Level"]
                                            li Role: 
                                                strong= job.title
                                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                                    .job-data
                                        ul
                                            li Industry: 
                                                strong= job.Category.name
                                            li Company name: 
                                                strong= job.organisation.name
                                            li Company type: 
                                                strong= job.organisation.description
                            hr
                        // /.about-job
                    .row
                        // job-technology
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            .job-technology
                                h3 Technologies
                                span.badge javascript
                                span.badge reactjs
                                span.badge css
                            hr
                        // /.job-technology
                    .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            // job-description
                            .job-description
                                h3 Job description
                                p
                                .row
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.mb30
                                        .feature-list
                                            h4 Get to know the Role:
                                            ul.arrow
                                                li
                                                    | Morbi mauris arcu cursus aterat nonpretium maximus
                                                    | massris viverra.
                                                li
                                                    | Crasem tortor pulvinar dictum dolor sodales viverra
                                                    | congue duied euismodu.
                                                li
                                                    | Nullam pi eget sapien oiquam mmassa ultricies susci
                                                    | elementum.
                                                li
                                                    | Sed lobortis blandit nulla pulvinar tristiquerem
                                                    | ipsum dsectetupiscing elit.
                                                li
                                                    | Phasellus sedorta exquis lacinia sapiorem ipsum
                                                    | dolorsit ansectetur adipiscing elit.
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                        
                                            h4 The must haves:
                                            ul.arrow
                                                each detail in job.Requirements
                                                    li= detail
                                hr
                            // ./ job-description
                    .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12.mb30
                            // job-company
                            .job-company
                                h3 About Company
                                p= job.organisation.description
                            // /.job-company
                        .col-lg-5.col-md-5.col-sm-5.col-xs-12.mb30
                            // feature-list
                            .feature-list
                                ul.star
                                    //- li Laptop &amp; Large Monitors Provided
                                    //- li Group Medical &amp; Insurance coverage
                                    //- li Great Chairs &amp; Workspace
                                    //- li
                                    //-     | All Expense Paid Trips to Overseas Conferences &amp;
                                    //-     | Workshops
                                    //- li Training &amp; Book Allowance
                                    //- li Fully Stocked Fridge
                                    //- li Frequent Hackathons and Tech Talks
                                    //- li Casual Dresscode
                                    //- li Diverse and International Teams
                                    //- li Travel Reimbursement
                            // /.job-company
                        .col-lg-7.col-md-7.col-sm-7.col-xs-12
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            a.apply.btn.btn-outline.mt10(href=`/jobs/${job._id}/apply`) Apply
    // ./job-single-section
    include  _footers
    include  _jsPlugin